<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/Add">New Student</a>
    <a href="/Home/GetAll">Get All Student</a>
</body>
</html>
